
body{
    background-color: whitesmoke;
    text-align: justify;
    padding: 0 300px 0 240px;
    margin: 40px 0 60px;
    line-height: 35px;
    color: #253A44;
    font-size: 18px;    
}
header{
    text-align: left;
}
ul li{
    display: inline;
    margin-right: 20px;
}

footer{
    text-align: center;

}
div{
    text-align: center;
}

.temaP{
    text-align: center;
    font-family: fantasy;
}
.texto{
    text-align: left;
    font-family: cursive;
}
footer{
    text-align: left;
    font-family: cursive;

}
fieldset{
    text-align: left;
    font-family: cursive;  
}
