img {
    width: 70%;
    margin-top: 15px;
    margin-bottom: 25px;
}

li, p {
    text-align: justify;
    width: 100%;
    font-size: 100%;    
}

p {
    margin-bottom: 0 
 }
   
p {
    text-indent: 1.5em;
    margin-top: 0 
}

h1 {
    margin-top: auto;
}

form{
    font-size: 120%;
    margin: auto;
    width: 60%;
    background-color: #edededea;
    border: solid 2px #ebebeb;
    padding: 5rem;
    
}

#menu ul {
    padding:0px;
    margin-top: 0px;
    background-color:#EDEDED;
    list-style:none;
    font-size: 140%;
}

#menu ul li { display: inline; }

#menu ul li a {
    padding: 10px 10px;
    display: inline-block;

    /* visual do link */
    background-color:#EDEDED;
    color: #333;
    text-decoration: none;
    border-bottom:5px solid #EDEDED;
    transition: 0.3s;
}

#menu ul li a:hover {
    background-color:#e7e2e2;
    color: #6D6D6D;
    border-bottom:5px solid #d86f6f;
    transition: 0.3s;
}

a img {
    height: 100px;
    width: 120px;
}

strong img {
    height: 100px;
    width: 70px;
}

b img {
    height: 100px;
    width: 60px;
}

li img {
    height: 35px;
    width: 30px;
    margin-left: 10px;
    margin-top: 5px;
    float: left;
}

.carousel-inner {
    box-shadow:-2px 6px 43px -16px rgba(0,0,0,0.75)
}

body{
    overflow-y: scroll;
    height: 100%;
}

::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-track{
    background-color: #f5a8a8;
}

::-webkit-scrollbar-thumb{
    background-color: #d86f6f;
    border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover{
    background-color: #d87f7f;
}

#fonte{
    font-size: 125%;
    color: #a82a2a;
    font-family: cursive;
}

#Title{
    margin-bottom: 30px;
}
#btnIMC {
    width: 15%;
    margin-top: 15%;
    margin-left: -42%;
    position: fixed;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;	
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #d86f6f;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #999;
    transition: 0.3s;
  }
  
#btnIMC:hover {
    background-color: #be5f5f;
    transition: 0.3s;
}
  
#btnIMC:active {
    background-color: #d86f6f;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
#imgIMC{
    height: 100%;
}
#idade{
    position: fixed;
    margin-top: 9.5%;
    margin-left: -46%;
    width: 5%;
}
#altura{
    position: fixed;
    margin-top: 9.5%;
    margin-left: -29%;
    width: 5%;
}
#peso{
    position: fixed;
    margin-top: 9.5%;
    margin-left: -11.2%;
    width: 5%;
}
#divIMC{
    position: fixed;
}
#man{
    position: fixed;
    width: 5%;
    margin-top: 9.5%;
    margin-left: -65%;
}
#woman{
    position: fixed;
    width: 5%;
    margin-top: 9.5%;
    margin-left: -60%;
}
#sexo{
    position: fixed;
    width: 5%;
    margin-top: 15%;
    margin-left: -62.5%;
}
#resultado{
    position: fixed;
    margin-top: 25%;
    margin-left: -60%;
    font-size: 200%;
    width: 50%;
}
input { 
    text-align: center; 
    font-weight: bold;
}
.abaixo{
    background-color:#f2ff38;
    color: black;
}
.normal{
    background-color:#47d12b;
    color: white;
}
.acima{
    background-color:#d12b2b;
    color: white;
}
